body {
  background:url(images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    margin-top: 160px;
    background:#000000b0;
  }


  

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: rgb(223, 203, 203);
    height: 200px;
    padding: 30px;
    width: 150.833px;
  }

  .swiper-slide h4{
    font-weight: bold;
    color: white;
    margin-top: 30px;
  }


  .swiper-slide h6{
    font-size: 11px;
    color: white;
  }


  .swiper-slide.swiper-slide-active {
    background: #00000045;
    transform: scale(1.3);
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
